force-app/main/default/flows/GetAllServicesAndProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Ass_Products_List</name>
        <label>Ass Products List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>returnList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_in_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_Service_List</name>
        <label>Ass Service List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>returnList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_in_Services.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Service_Records</name>
        <label>Assignment Service Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>returnServiceList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Services</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Product_or_Service</name>
        <label>Product or Service</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductOrService</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products</targetReference>
            </connector>
            <label>Product</label>
        </rules>
        <rules>
            <name>Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductOrService</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Services</targetReference>
            </connector>
            <label>Service</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get All Services {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get All Services And Products</label>
    <loops>
        <name>Loop_in_Products</name>
        <label>Loop in Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_Products_List</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_in_Services</name>
        <label>Loop in Services</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Services</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_Service_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_Service_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_in_Products</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Services</name>
        <label>Get Services</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_in_Services</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_or_Service</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductOrService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>returnServiceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Service__c</objectType>
    </variables>
</Flow>
